RDS_HOSTNAME={{db_facts.endpoint}}
RDS_PORT={{db_facts.port}}
RDS_DB_NAME={{db_name}}
RDS_USERNAME={{db_user}}
RDS_PASSWORD={{db_password}}

WORDPRESS_DB_HOST={{db_facts.endpoint}}
WORDPRESS_DB_USER={{db_user}}
WORDPRESS_DB_PASSWORD={{db_password}}
WORDPRESS_DB_NAME={{db_name}}
